<% if @book.errors.any?%>
 <%=@book.errors.count%>
 <%@book.errors.full_messages.each do|message|%>error
 <%=message%>
 <%end%>
<%end%>
<div class="container">
  <div class="row">
     <div class="col-lg-4">
<%=render "users/list",user: @user%>
<%=render "books/list",book: @book%>
</div>
<table class="table table-striped">
<h1>Books</h1>
<div class="col-lg-8">
<% @books.each do |book|%>
<%= link_to user_path(book.user.id) do %>
<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
<% end %>
  <%= link_to book.title, book_path(book.id)%>
  <%=book.body%>
  <%end%>
  </div>
  </table>
  </div>
</div>
<%=render "homes/list"%>
